body {
    background-color: #4e4a4a;
  }
/* Style for header */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  h2 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  /* paragraph style */
  p{
    color: #fff;
    padding: 20px;
  }
  /* Style for main */
  main {
    padding: 20px;
  }
  
  /* Style for form fieldsets */
  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 500px;
  }
  
  legend {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Style for form labels */
  label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style for form input fields */
  input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="submit"], input[type="reset"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Style for section */
  section {
    margin-top: 20px;
  }
  
  /* Style for product list */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Style for footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
/* table product style*/
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: #555;
  }
  